<!-- 
  WEB322 Assignment 1
  Name: Omar Khan
  Student Number: 132197203
  Email: okhan27@myseneca.ca
  Section NCC
  Date: 10/6/2021
  All the work in the project is my own except for stock photos, icons, and bootstrap files included
 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hoster | Register</title>
  <link rel="shortcut icon" type="image/jpg" href="/assets/favicon.ico" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./bootstrap-5.0.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles/custom.css">
</head>

<body class="gradient">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light special">
      <div class="container">
        <a href="/"><img src="assets/navlogo.png" alt="hoster logo" width="200" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/plans">Plans</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="
                /registration">Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="container holder top-buffer reg">
      <h1 class="well">Registration Form</h1>
      <div class="col-lg-12 well">
        <div class="row">
          <form action="/validateRegInputs" method="POST">
            <div class="col-sm-12">
              <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <label for="fname">First Name</label>
                    <input id="fname" name="fname" type="text" placeholder="First Name" value="{{data.fname}}" class="form-control">
                  </div>
                  <div class="col-sm-6 form-group">
                    <label for="lname">Last Name</label>
                    <input id="lname" name="lname" type="text" placeholder="Last Name" value="{{data.lname}}" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 form-group top-buffer">
                    <label for="uname">Username</label>
                    <input id="uname" name="uname" type="text" placeholder="Username" value="{{data.uname}}"class="form-control">
                  </div>
                  {{#if data.uError}}
                    <p class="error">{{data.uError}}</p>
                  {{/if}}
                  <div class="col-sm-6 form-group top-buffer">
                    <label for="pword">Password</label>
                    <input id="pword" name="pword" type="password" placeholder="Password" class="form-control">
                    {{#if data.pError}}
                    <p class="error">{{data.pError}}</p>
                    {{/if}}
                  </div>
                </div>
                <div class="row top-buffer">
                  <div class=" col-sm-6 form-group">
                    <label for="phone">Phone Number</label>
                    <input id="phone" name="phone" type="text" placeholder="Phone" value="{{data.phone}}" class="form-control">
                    {{#if data.telError}}
                    <p class="error">{{data.telError}}</p>
                    {{/if}}
                  </div>
                  <div class="col-sm-6 form-group">
                    <label for="emailadd">Email Address</label>
                    <input id="emailadd" name="emailadd" type="email" placeholder="Email" value="{{data.emailadd}}" class="form-control">
                    {{#if data.emailError}}
                    <p class="error">{{data.emailError}}</p>
                    {{/if}}
                  </div>
                </div>
              </fieldset>
              <fieldset class="top-buffer">
                <legend>Billing Address</legend>
                <div class="form-group">
                  <label for="company">Company</label>
                  <input id="company" name="company" type="text" placeholder="Company Name" value="{{data.company}}" class="form-control">
                </div>
                <div class="form-group top-buffer">
                  <label for="addressone">Street Address 1</label>
                  <textarea id="addressone" name="addressone" placeholder="Street Address 1" value="{{data.addressone}}" rows="1"
                    class="form-control"></textarea>
                    {{#if data.addError}}
                   <p class="error">{{data.addError}}</p>
                   {{/if}}
                </div>
                <div class="form-group top-buffer">
                  <label for="addresstwo">Street Address 2</label>
                  <textarea id="addresstwo" name="addresstwo" placeholder=" Street Address 2" value="{{data.addresstwo}}" rows="1"
                    class="form-control"></textarea>
                </div>
              </fieldset>
              <div class="row top-buffer">
                <div class="col-sm-4 form-group">
                  <label for="city">City</label>
                  <input id="city" name="city" type="text" placeholder="City" value="{{data.city}}" class="form-control">
                  {{#if data.cityError}}
                  <p class="error">{{data.cityError}}</p>
                  {{/if}}
                </div>
                <div class="col-sm-4 form-group">
                  <label for="province">Province</label>
                  <input id="province" name="province" type="text" placeholder="State" value="{{data.province}}" class="form-control">
                  {{#if data.provError}}
                  <p class="error">{{data.provError}}</p>
                  {{/if}}
                </div>
                <div class="col-sm-4 form-group">
                  <label for="postal">Postal Code</label>
                  <input id="postal" name="postal" type="text" placeholder="Postal Code" value="{{data.postal}}" class="form-control">
                  {{#if data.postalError}}
                  <p class="error">{{data.postalError}}</p>
                  {{/if}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 form-group top-buffer">
                  <label for="country" class="sr-only">Country</label>
                  <input id="country" name="country" type="text" placeholder="Country" value="{{data.country}}" class="form-control">
                  {{#if data.countryError}}
                  <p class="error">{{data.countryError}}</p>
                  {{/if}}
                </div>
              </div>
              <div class="form-group top-buffer">
                <label for="taxid">Tax ID</label>
                <input id="taxid" name="taxid" type="text" placeholder="Tax ID" value="{{data.taxid}}" class="form-control">
                {{#if data.taxError}}
                <p class="error">{{data.taxError}}</p>
                {{/if}}
              </div>
              <input type="submit" class="btn btn-lg btn-info top-buffer bottom-buffer" value="Submit" />
            </div>
          </form>
          <div class="spec-flex">
            <p>Already a client?</p>
            <form action="/login">
              <button type="submit" class="btn btn-sm btn-info" value="Login">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container spec-footer">
      <footer class="text-center text-lg-start bg-light text-muted top-buffer">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <div class="me-5 d-none d-lg-block">
            <h4>Get in touch with us:</h4>
          </div>
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </section>
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Hoster
                </h6>
                <p>
                  We're the premium web hosting service coming at you out of Toronto, Canada.
                </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Products
                </h6>
                <p>
                  <a href="#!" class="text-reset">Cloud Services</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Web Hosting</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Dedicated Servers</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">WordPress</a>
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="./plans" class="text-reset">Plans</a>
                </p>
                <p>
                  <a href="./registration" class="text-reset">Registration</a>
                </p>
                <p>
                  <a href="./login" class="text-reset">Login</a>
                </p>
                <p>
                  <a href="./" class="text-reset">Home</a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Contact
                </h6>
                <p><i class="fas fa-home me-3"></i> Toronto, Canada, right next to the huge Loblaws at Maple Leaf
                  Gardens</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  <a href="mailto:okhan27@myseneca.ca">okhan27@myseneca.ca</a>
                </p>
                <p>
                  <i class="fas fa-phone me-3"></i>
                  <a href='tel:+1(555)555-5555'>+1(555)555-5555</a>
                </p>
              </div>
            </div>
          </div>
        </section>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          &copy;
          <span id="copyright">
            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
          </span>
          <a class="text-reset fw-bold" href="./">HOSTER</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
  </div>
  <script src="./bootstrap-5.0.1-dist/js/bootstrap.bundle.js"></script>
</body>

</html>